@import '../../Container';
@import '../../GlobalVariables';

.container {
  @extend .container;
  display: grid;
  place-items: center;
  font-family: 'Inter', 'sans-serif';
  min-height: calc(100vh - $navHeight);
}
